@tailwind base;
@tailwind components;
@tailwind utilities;

body, #root {
  @apply min-h-screen text-dark 
}

/* .slick-prev:before, .slick-next:before {
  @apply text-dark/80
} */

body, #root {
  /* background-image: linear-gradient(
    to bottom right,
    #f9bccc,
    #c2d7f8
  ); */
  @apply bg-neutral-300
}

.ball {
  animation: float 3.5s ease-in-out infinite;
  border-radius: 50%;
  position: relative;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at 75% 30%,
    rgb(255, 255, 255) 5px,
    transparent 8%,
    transparent 60%,
    rgba(0, 255, 255, 0.385) 100%
  );
  box-shadow: inset 0 0 20px #ffffff00, inset 10px 0 46px #eaf5fc,
    inset 0 50px 140px #fde9ea, 0 0 90px #fff;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-80px);
  }
  100% {
    transform: translatey(0px);
  }
}


@keyframes expand {
  0%,
  100% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(1);
  }
}

@media only screen and (max-width: 500px) {
  .ball {
    animation: float 4.5s ease-in-out infinite;
    background: radial-gradient(
    circle at 75% 30%,
    rgb(255, 255, 255) 5px,
    transparent 8%,
    transparent 60%,
    rgba(0, 255, 255, 0.385) 100%
  );
  box-shadow: inset 0 0 20px #ffffff00, inset 10px 0 46px #eaf5fc,
    inset 0 50px 140px #fde9ea, 0 0 90px #fff;
  }

  @keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-50px);
    }
    100% {
      transform: translatey(0px);
    }
  }
}


.colorful {
  text-shadow: -15px 5px 20px #ced0d3;
  letter-spacing: 0.04em;
  color: #F9f1cc;
  text-shadow: 1px 1px 0px #FFB650, 
    2px 2px 0px #FFD662, 
    3px 3px 0px  #FF80BF, 
    4px 4px 0px #EF5097, 
    5px 5px 0px #6868AC, 
    6px 6px 0px #90B1E0;
}

.box-shadow {
  box-shadow: 0px 0px 3px #FFB650, 
  0px 0px 5px #FFD662, 
  0px 0px 7px  #FF80BF, 
  0px 0px 9px #EF5097, 
  0px 0px 11px #6868AC, 
  0px 0px 13px #90B1E0;
}

.stroke { 
  color: transparent;
  font-weight: 600;
  -webkit-text-stroke-color: #EF5097;
  -webkit-text-stroke-width: 1px;
}